@page
@model ManageUserModel
@{
    ViewData["Title"] = "ManageUsers";
    ViewData["ActivePage"] = ManageNavPages.ManageUser;
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                User Name
            </th>
            @*<th>
                User Role
            </th>*@
        </tr>
        </thead>
    <tbody>
        @foreach(var item in Model.Users){
            @if (item.UserName != "ROOT") { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>*@
            <td>
                <form asp-route-id="@item.UserId">



                    <button type="submit" class="btn btn-primary" asp-controller="ManageUser" asp-action="Delete"
                            asp-route-id="@item.UserId">
                        delete
                    </button>
                    <button type="submit" class="btn btn-primary" asp-controller="ManageUser" asp-action="Mute"
                            asp-route-id="@item.UserId">
                        Mute
                    </button>

                </form>




            </td>
        </tr>
        }
       }
    </tbody>
</table>





@section Scripts {
       <partial name="_ValidationScriptsPartial" />
}
