@model BrightPathDev.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.desc_mini)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.desc_mini)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd class="col-sm-10">
            <p style="width:80%;word-wrap: break-word;">
                @Html.DisplayFor(model => model.desc)
            </p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articlecoor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articlecoor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        @if (Model.ImageName != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
            <dd class="col-sm-10">

                <img src="~/Image/@Model.AuthorId/@Model.ArticleId/@Url.Content(Model.ImageName)" width="250" height="250" />
            </dd>
        }

    </dl>
</div>
<div>@if (User.Identity.IsAuthenticated && (User.Identity.Name == Model.AuthorName || User.Identity.Name=="Root" || User.IsInRole("Admin"))) {
    <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a> <br /> <a asp-action="Delete" asp-route-id="@Model.ArticleId">Delete</a><br />
    }
    <a asp-action="Index">Back to List</a>
</div>
