@model BrightPathDev.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.ArticleTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.ArticleTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.desc_mini)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.desc_mini)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.desc)
        </dt>
        <dd class="col-sm-10">
            <p style="width:80%;word-wrap: break-word;">
                @Html.DisplayFor(model => model.Article.desc)
            </p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.ArticleAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.ArticleAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.ArticleLat) @Html.DisplayNameFor(model => model.Article.ArticleLng)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.ArticleLat)
            @Html.DisplayFor(model => model.Article.ArticleLng)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.ArticleContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.ArticleContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.AuthorId)
        </dd>

        <dd class="col-sm-6">
            <div id="google-maps" style="height:400px;"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA90TINkNOQX2-7jXdPEVrzi1-FjpKh8kA"></script>
            <script>
				$(window).on('load', function () {
					'use strict';
					var uluru = {
						// Use online tool latlong.net to lookup latitude/longitude of a place.
						lat: @Model.Article.ArticleLat, // Latitude
						lng: @Model.Article.ArticleLng, // Longitude
					};
					var map = new google.maps.Map(document.getElementById('google-maps'), {
						zoom: 15, // Zoom Level
						center: uluru,
						scrollwheel: false, // enbale/disable scrollwheel.
					});
					var marker = new google.maps.Marker({
						position: uluru,
						map: map,
					});
				});
            </script>
        </dd>


        @if (Model.Article.ImageName != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Article.ImagePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Article.ImagePath)
            </dd>
            <dd class="col-sm-10">

                <img src="~/Image/@Model.Article.AuthorId/@Model.Article.ArticleId/@Url.Content(Model.Article.ImageName)" class="img-fluid" />
            </dd>
        }

    </dl>
    <!--Checking if the current logged in user have liked the post before-->
    <form method="post" role="form">
        @{ bool x = false;
            foreach (var like in Model.LikeModels)
            {
                if (User.Identity.Name == like.UserName)
                {

                    x = true;
                }
            }
            if (x)
            {
                <button type="submit" class="btn btn-outline-primary" asp-controller="Article" asp-action="UnLike" asp-route-id="@Model.Article.ArticleId">Like</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" asp-controller="Article" asp-action="Like" asp-route-id="@Model.Article.ArticleId">Like</button>
            }
        }
        @{ bool y = false;
            foreach (var dislike in Model.DislikeModels)
            {
                if (User.Identity.Name == dislike.UserName)
                {

                    y = true;
                }
            }
            if (y)
            {
                <button type="submit" class="btn btn-outline-danger" asp-controller="Article" asp-action="UnDislike" asp-route-id="@Model.Article.ArticleId">Dislike</button>
            }
            else
            {
                <button type="submit" class="btn btn-danger" asp-controller="Article" asp-action="Dislike" asp-route-id="@Model.Article.ArticleId">Dislike</button>
            }
        }
        <br />
        <span>@Html.DisplayFor(model => model.Article.LikeCount) Likes!</span>| <span>@Html.DisplayFor(model => model.Article.DislikeCount) Dislikes!</span>
        <br />

        @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Article.AuthorName)
        {
            <a asp-controller="Review" asp-action="ReviewRequest" asp-route-id="@Model.Article.ArticleId">Request Delete</a><br />
            <a asp-controller="Review" asp-action="EditRequest" asp-route-id="@Model.Article.ArticleId">Request Edit</a>
        }
        <div>
            @if (User.IsInRole("Root") || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Article.ArticleId">Edit</a> <br />
                <a asp-action="Delete" asp-route-id="@Model.Article.ArticleId">Delete</a> <br />
            }


        </div
        <!--Comment Section-->
        <div>
            <h4>Comments</h4>
            <hr />
            <dl class="row">
                @foreach (var item in Model.Comments)
                {
                    <dt class="col-sm-2">
                        @item.UserName
                    </dt>
                    <dd class="col-sm-10">
                        @item.CommentText


                        @if (User.IsInRole("Root") || User.IsInRole("Admin") || User.Identity.Name == item.UserName)
                        {
                            <button class="btn btn-link" type="submit" asp-controller="Article" asp-action="DeleteComment" asp-route-commenter="@item.CommentId" asp-route-id="@Model.Article.ArticleId">Delete</button>
                        }
                        <hr />
                    </dd>
                }
            </dl>
            <dl>
                <dt>
                    <label class="control-label">Add Your Own Comment !</label>
                </dt>
                <dd>
                    <textarea style="width:400px;min-height:75px;" type="text" name="CommentText"></textarea>
                </dd>
            </dl>
            <button class="btn btn-primary" type="submit" asp-controller="Article" asp-action="Comment" asp-route-id="@Model.Article.ArticleId">Comment</button>


        </div>
    </form>
    <a asp-action="Index">Back to List</a>
</div>