@model IEnumerable<BrightPathDev.Models.Article>

@{
    ViewData["Title"] = "Index";
}
    <div class="hero mb-5">
        <div class="row">
            <div class="wrapper col-sm-7">
                <h1 class="hero-title mb-4">Welcome to The Bright Path</h1>
                <p class="hero-description mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate fugiat labore. Reiciendis harum, vitae quos, fugit id quod fuga temporibus cumque laborum placeat eligendi voluptatem maiores eveniet recusandae nostrum.</p>
                <a class="btn btn-primary" asp-action="create">Create Article</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="wrapper-title mb-4">Top Picks</h1>
        <div class="row">
            <br />
            @foreach (var item in Model)
            {
                @if (item.Status == ContactStatus.Approved)
                {
                    <div class="col-sm-4 mb-5">
                        <div class="card">
                            @if (item.ImagePath != null)
                            {
                                <img class="card-img-top" src="~/Image/@item.AuthorId/@item.ArticleId/@Url.Content(item.ImageName)" alt="Article image">
                            }

                            <div class="card-body">
                                <a asp-action="Details" asp-route-id="@item.ArticleId">
                                    <h5 class="card-title">
                                        @Html.DisplayFor(modelItem => item.ArticleTitle)
                                    </h5>
                                </a>
                                <p class="card-text mb-2">
                                    @Html.DisplayFor(modelItem => item.desc_mini)
                                </p>
                                <div class="text-muted mb-3">@item.LikeCount Likes - @item.DislikeCount Dislikes</div>
                                <a asp-action="Details" asp-route-id="@item.ArticleId" class="btn btn-primary">View Article</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>